/* Тільки інтерфейс Firefox, не веб-контент */
:root {
  --default-font: "JetBrainsMono Nerd Font" !important;
}

/* Глобально для всього інтерфейсу */
* {
  font-family: var(--default-font) !important;
}

/* Developer Tools */
#devtools-toolbox-window,
.devtools-monospace {
  font-family: var(--default-font) !important;
}

.urlbar,
#searchbar {
  font-size: 1em !important;
}
